	<template name="layout">
		<div id="wrap">
			<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">
								Toggle navigation
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
						</button>
						<a class="navbar-brand" href="#">
							Famo.us Tutorial
						</a>
					</div>
					<div id="menu" class="collapse navbar-collapse">
						{{> LayoutMainMenu}}
					</div>
				</div>
			</div>
			<div class="container">
				{{> yield}}
			</div>
		</div>
		<div id="footer">
		</div>
	</template>

	<template name="LayoutMainMenu">
		<ul id="menu" class="nav navbar-nav">
			<li id="menu-item" class="{{menuItemClass 'home'}}">
				<a href="{{pathFor 'home'}}">
					Quick Start
				</a>
			</li>
			<li id="menu-item" class="{{menuItemClass 'meteor'}}">
				<a href="{{pathFor 'meteor'}}">
					Meteor + Famo.us
				</a>
			</li>
			<li id="menu-item" class="{{menuItemClass 'examples'}}">
				<a href="{{pathFor 'examples'}}">
					Examples
				</a>
			</li>
		</ul>
	</template>

